<!--Cabeçalho 1-->
<header class="header1">
    <a href="#" id = "logo">LOGO</a>
    <form action="" id = "search_bar">
        <input type="text" placeholder="Pesquise por artista ou álbum...">
    </form>
    <nav class="nav_header1">
        <a href="#"><i class="fa-solid fa-circle-user"></i></a>
        <a href="#"><i class="fa-solid fa-heart"></i></a>
        <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
    </nav>
</header>

<!--Cabeçalho 2-->
<header class="header2">
    <nav class="nav_header2">
        <a href="#">Explore Tudo</a>
        <a href="#">Descontos</a>
        <a href="#">Edições Especiais</a>
        <a href="#">Sobre Nós</a>
    </nav>
</header>
