<!--Cabeçalho-->
<app-header></app-header>

<!--Vinis Card-->

<div class="vinly_card_group">
    <div class="vinly_card">
        <img  class="vinly_card_img" src="https://t2.genius.com/unsafe/898x0/https%3A%2F%2Fimages.genius.com%2F2f1e1f1e8ce45ec93e60de0673c73bc0.1000x1000x1.png" alt="">
        <div class="vinly_card_content">
            <p id="vinly_title">Year of the Snitch</p>
            <p id="vinly_artist">Death Grips</p>
            <p id="vinly_price">R$ 265,00</p>
        </div>
    </div>

    <div class="vinly_card">
        <img  class="vinly_card_img" src="https://t2.genius.com/unsafe/898x0/https%3A%2F%2Fimages.genius.com%2F2f1e1f1e8ce45ec93e60de0673c73bc0.1000x1000x1.png" alt="">
        <div class="vinly_card_content">
            <p id="vinly_title">Year of the Snitch</p>
            <p id="vinly_artist">Death Grips</p>
            <p id="vinly_price">R$ 265,00</p>
        </div>
    </div>

    <div class="vinly_card">
        <img  class="vinly_card_img" src="https://t2.genius.com/unsafe/898x0/https%3A%2F%2Fimages.genius.com%2F2f1e1f1e8ce45ec93e60de0673c73bc0.1000x1000x1.png" alt="">
        <div class="vinly_card_content">
            <p id="vinly_title">Year of the Snitch</p>
            <p id="vinly_artist">Death Grips</p>
            <p id="vinly_price">R$ 265,00</p>
        </div>
    </div>

    <div class="vinly_card">
        <img  class="vinly_card_img" src="https://t2.genius.com/unsafe/898x0/https%3A%2F%2Fimages.genius.com%2F2f1e1f1e8ce45ec93e60de0673c73bc0.1000x1000x1.png" alt="">
        <div class="vinly_card_content">
            <p id="vinly_title">Year of the Snitch</p>
            <p id="vinly_artist">Death Grips</p>
            <p id="vinly_price">R$ 265,00</p>
        </div>
    </div>

    <div class="vinly_card">
        <img  class="vinly_card_img" src="https://t2.genius.com/unsafe/898x0/https%3A%2F%2Fimages.genius.com%2F2f1e1f1e8ce45ec93e60de0673c73bc0.1000x1000x1.png" alt="">
        <div class="vinly_card_content">
            <p id="vinly_title">Year of the Snitch</p>
            <p id="vinly_artist">Death Grips</p>
            <p id="vinly_price">R$ 265,00</p>
        </div>
    </div>

    <div class="vinly_card">
        <img  class="vinly_card_img" src="https://t2.genius.com/unsafe/898x0/https%3A%2F%2Fimages.genius.com%2F2f1e1f1e8ce45ec93e60de0673c73bc0.1000x1000x1.png" alt="">
        <div class="vinly_card_content">
            <p id="vinly_title">Year of the Snitch</p>
            <p id="vinly_artist">Death Grips</p>
            <p id="vinly_price">R$ 265,00</p>
        </div>
    </div>

    <div class="vinly_card">
        <img  class="vinly_card_img" src="https://t2.genius.com/unsafe/898x0/https%3A%2F%2Fimages.genius.com%2F2f1e1f1e8ce45ec93e60de0673c73bc0.1000x1000x1.png" alt="">
        <div class="vinly_card_content">
            <p id="vinly_title">Year of the Snitch</p>
            <p id="vinly_artist">Death Grips</p>
            <p id="vinly_price">R$ 265,00</p>
        </div>
    </div>

    <div class="vinly_card">
        <img  class="vinly_card_img" src="https://t2.genius.com/unsafe/898x0/https%3A%2F%2Fimages.genius.com%2F2f1e1f1e8ce45ec93e60de0673c73bc0.1000x1000x1.png" alt="">
        <div class="vinly_card_content">
            <p id="vinly_title">Year of the Snitch</p>
            <p id="vinly_artist">Death Grips</p>
            <p id="vinly_price">R$ 265,00</p>
        </div>
    </div>

    <div class="vinly_card">
        <img  class="vinly_card_img" src="https://t2.genius.com/unsafe/898x0/https%3A%2F%2Fimages.genius.com%2F2f1e1f1e8ce45ec93e60de0673c73bc0.1000x1000x1.png" alt="">
        <div class="vinly_card_content">
            <p id="vinly_title">Year of the Snitch</p>
            <p id="vinly_artist">Death Grips</p>
            <p id="vinly_price">R$ 265,00</p>
        </div>
    </div>

    <div class="vinly_card">
        <img  class="vinly_card_img" src="https://t2.genius.com/unsafe/898x0/https%3A%2F%2Fimages.genius.com%2F2f1e1f1e8ce45ec93e60de0673c73bc0.1000x1000x1.png" alt="">
        <div class="vinly_card_content">
            <p id="vinly_title">Year of the Snitch</p>
            <p id="vinly_artist">Death Grips</p>
            <p id="vinly_price">R$ 265,00</p>
        </div>
    </div>

    <div class="vinly_card">
        <img  class="vinly_card_img" src="https://t2.genius.com/unsafe/898x0/https%3A%2F%2Fimages.genius.com%2F2f1e1f1e8ce45ec93e60de0673c73bc0.1000x1000x1.png" alt="">
        <div class="vinly_card_content">
            <p id="vinly_title">Year of the Snitch</p>
            <p id="vinly_artist">Death Grips</p>
            <p id="vinly_price">R$ 265,00</p>
        </div>
    </div>

    <div class="vinly_card">
        <img  class="vinly_card_img" src="https://t2.genius.com/unsafe/898x0/https%3A%2F%2Fimages.genius.com%2F2f1e1f1e8ce45ec93e60de0673c73bc0.1000x1000x1.png" alt="">
        <div class="vinly_card_content">
            <p id="vinly_title">Year of the Snitch</p>
            <p id="vinly_artist">Death Grips</p>
            <p id="vinly_price">R$ 265,00</p>
        </div>
    </div>

    <div class="vinly_card">
        <img  class="vinly_card_img" src="https://t2.genius.com/unsafe/898x0/https%3A%2F%2Fimages.genius.com%2F2f1e1f1e8ce45ec93e60de0673c73bc0.1000x1000x1.png" alt="">
        <div class="vinly_card_content">
            <p id="vinly_title">Year of the Snitch</p>
            <p id="vinly_artist">Death Grips</p>
            <p id="vinly_price">R$ 265,00</p>
        </div>
    </div>

    <div class="vinly_card">
        <img  class="vinly_card_img" src="https://t2.genius.com/unsafe/898x0/https%3A%2F%2Fimages.genius.com%2F2f1e1f1e8ce45ec93e60de0673c73bc0.1000x1000x1.png" alt="">
        <div class="vinly_card_content">
            <p id="vinly_title">Year of the Snitch</p>
            <p id="vinly_artist">Death Grips</p>
            <p id="vinly_price">R$ 265,00</p>
        </div>
    </div>

    <div class="vinly_card">
        <img  class="vinly_card_img" src="https://t2.genius.com/unsafe/898x0/https%3A%2F%2Fimages.genius.com%2F2f1e1f1e8ce45ec93e60de0673c73bc0.1000x1000x1.png" alt="">
        <div class="vinly_card_content">
            <p id="vinly_title">Year of the Snitch</p>
            <p id="vinly_artist">Death Grips</p>
            <p id="vinly_price">R$ 265,00</p>
        </div>
    </div>

    <div class="vinly_card">
        <img  class="vinly_card_img" src="https://t2.genius.com/unsafe/898x0/https%3A%2F%2Fimages.genius.com%2F2f1e1f1e8ce45ec93e60de0673c73bc0.1000x1000x1.png" alt="">
        <div class="vinly_card_content">
            <p id="vinly_title">Year of the Snitch</p>
            <p id="vinly_artist">Death Grips</p>
            <p id="vinly_price">R$ 265,00</p>
        </div>
    </div>
</div>