<footer class="footer">
    <div class="footer_container">
        <div class="footer_information_group">
            <p class="footer_category_information">INTISTUCIONAL</p>
            
            <div class="footer_information">
                <p>Edições Anteriores</p>
                <p>Quem Somos</p>
                <p>Fale Conosco</p>
            </div>
    
        </div>
    
        <div class="footer_information_group">
            <p class="footer_category_information">PRECISA DE AJUDA?</p>
    
            <div class="footer_information">
                <p>Política de Privacidade</p>
                <p>Termos de Uso</p> 
                <p>Dúvida Frequentes</p>
                <p>Pré-vendas</p>
                <p>Envios</p>
                <p>Acompanhe seu Pedido</p>
            </div>
    
        </div>
    
        <div class="footer_information_group">
            <p class="footer_category_information">ATENDIMENTO</p>
    
            <div class="footer_information">
                <p>lojavinil<span>&#64;</span>gmail.com</p>
                <p>Telefone: (83) 99234-1245</p>
                <p>Segunda a Sexta, das 8h às 18h</p>
            </div>
        
        </div>
    
        <div class="footer_information_group">
            <p class="footer_category_information">REDES SOCIAIS</p>
        
                <nav class="footer_social_media">
                    <a href="https://github.com/Pedro-Vitor21J" target="_blank"><i class="fa-brands fa-square-github"></i></a>
                    <a href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                </nav>
                
        </div>
    </div>
</footer>
