<div class="filters">
    <p class="filters_vinyl">Vinis</p>
    <div class="filters_category">

        <div class="filters_type">
            <p>Gênero <i class="fa-solid fa-caret-down"></i></p>
            <input type="text" placeholder="Gênero...">
        </div>

        <div class="filters_type">
            <p>Década <i class="fa-solid fa-caret-down"></i></p>
            <input type="button" value="Indefinida">
        </div>
        
        <div class="filters_type">
            <p>Ordenado por <i class="fa-solid fa-caret-down"></i></p>
            <input type="button" value="Indefinido">
        </div>

    </div>
</div>

<hr id="line">
