.filters{
    display: flex;
    font-family: var(--fontDefault);
    color: var(--lightBlack);
    margin-left: 10rem;
    margin-top: 3rem;
}

.filters_category{
    display: flex;
    gap: 3.8rem;
    margin-left: 3.8rem;
    margin-top: 2.8rem;
}

.filters_vinly{
    display: flex;
    font-weight: bold;
    font-size: 6rem;
}

.filters_type{
    font-weight: bold;
    font-size: 1.3rem;
}

.filters_type input{
    font-family: var(--fontDefault);
    font-size: 1.2rem;
    height: 1.5rem;
    width: 8rem;
    margin-top: 0.5rem;
    text-align: start;
    background-color: transparent;
    border: none;
    color: var(--lightBlack);
}

.filters_type input::placeholder{
    color: var(--lightBlack);
}

#line{
    height: 0.3rem;
    width: 124rem;
    margin-left: 10rem;
    background-color: var(--pureBlack);

}