<div class="other_information">
    <div class="description_additional">
        <div class="description">
            <h1 id="title">Descrição</h1>
            <div class="description_content">
                <p>Raro e essencial para fãs de drone, doom e noise! "Amplifier Worship", lançado originalmente em 1998, é um marco absoluto na discografia da banda japonesa Boris. Esta edição dupla em vinil traz o som massivo e hipnótico do álbum em todo seu esplendor, agora remasterizado para uma experiência ainda mais imersiva.</p>

                <p>Com uma prensagem de alta qualidade e capa gatefold, este lançamento reúne peso extremo, ambiência sufocante e texturas sonoras distorcidas em uma jornada sonora única. Destaque para faixas como "Huge", "Vomitself" e "Ganbou-Ki", que redefinem os limites entre música e ruído.</p>
            </div>
        </div>

        <div class="additional">
            <h1 id="title">Informações adicionais</h1>
            <div class="additional_information_content">
                <p>Peso: 0,55 kg</p>
                <p>Dimensões: 32 x 32 x 2cm</p>
                <p>Selo: Third Man Records</p>
            </div>
        </div>
    </div>

    <div class="tracklist_streaming">
        <div class="tracklist">
            <h1 id="title">Lista de faixas</h1>
            <ol class="tracks">
                <li>Huge (9:15)</li>
                <li>Ganbouki (15:43)</li>
                <li>Hama (7:31)</li>
                <li>Kuruimizu (14:27)</li>
                <li>Vomitself (16:58)</li>
            </ol>
            <p id="total_duration">Duração total: 1:03:58</p>
        </div>

        <div class="streaming">
            <h1 id="title">Disponível em:</h1>
            <nav class="nav_streaming">
                <a href="https://open.spotify.com/intl-pt/album/2FRA0dAkkapRAy7sH6c4yu" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Spotify_icon.svg/768px-Spotify_icon.svg.png?20220821125323" alt="">
                </a>
                <a href="https://www.youtube.com/playlist?list=OLAK5uy_kwN7m7PlfcJQVvsRfs7lvAEd0dnB_DO8c" target="_blank">
                        <img src="https://img.icons8.com/?size=100&id=V1cbDThDpbRc&format=png&color=000000" alt="">
                </a>
            </nav>
        </div>
    </div>
</div>
