/*Cria uma margem entre os componentes vinly-information e seller-purchase. E alinha horizontalmente*/
.other_info_container{
    display: flex;
    margin: 4.8rem 0 0 0;
    gap: 7rem;
}

/*Estiliza os títulos (h1)*/
#title{
    font-weight: bold;
    font-size: 2.2rem;
}

/*Alinha verticalmente e cria uma margem entre as classes*/
.desc_add, .tracklist_streaming{
    display: flex;
    flex-direction: column;
    gap: 2rem
}

/*Estiliza a margem entre o título com o conteúdo*/
.desc, .add, .tracklist, .streaming{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/*Estiliza a descrição*/
.desc{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    line-height: 2.5rem;
    text-align: justify;
}

/*Margem entre os parágrafos*/
.desc_content p:not(:last-child), .add_content p:not(:last-child){
    margin: 0 0 2rem 0;
}

/*Alinha os números e aumenta o espaçamento vertical*/
.tracks{
    list-style-position: inside; 
    line-height: 3rem;
}

/*Aumenta a fonte da "Duração Total"*/
#total_duration{
    font-size: 2rem;
}

/*Alinha horizontalmente e centraliza o streaming*/
.streaming{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*Margem entre os ícones*/
.nav_streaming{
    display: flex;
    gap: 2rem;
}

/*Altera o Tamnho dos ícones*/
.nav_streaming img{
    width: 4.1rem;
    height: 4.1rem;
}