<div class="other_info_container">
    <!--Afrupa descrição e informações adicionais-->
    <div class="desc_add">
        <!--Descrição-->
        <div class="desc">
            <h1 id="title">Descrição</h1>
            <div class="desc_content">
                {{vinyl_other_info?.description}}
            </div>
        </div>

        <!-- Informações adicionais-->
        <div class="add">
            <h1 id="title">Informações adicionais</h1>
            <div class="add_content">
                <p>Peso: {{vinyl_other_info?.weight}}</p>
                <p>Tamanho: {{vinyl_other_info?.size}}</p>
                <p>Selo: {{vinyl_other_info?.label}}</p>
            </div>
        </div>
    </div>

    <!-- Agrupa a tracklist e o streaming-->
    <div class="tracklist_streaming">
        <!--Tracklist-->
        <div class="tracklist">
            <h1 id="title">Lista de faixas</h1>
            <ol class="tracks">
                <li>Huge (9:15)</li>
                <li>Ganbouki (15:43)</li>
                <li>Hama (7:31)</li>
                <li>Kuruimizu (14:27)</li>
                <li>Vomitself (16:58)</li>
            </ol>
            <p id="total_duration">Duração total: 1:03:58</p>
        </div>
        <!--Streaming-->
        <div class="streaming">
            <h1 id="title">Disponível em:</h1>
            <nav class="nav_streaming">
                <a href="https://open.spotify.com/intl-pt/album/2FRA0dAkkapRAy7sH6c4yu" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Spotify_icon.svg/768px-Spotify_icon.svg.png?20220821125323" alt="">
                </a>
                <a href="https://www.youtube.com/playlist?list=OLAK5uy_kwN7m7PlfcJQVvsRfs7lvAEd0dnB_DO8c" target="_blank">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Youtube_Music_icon.svg/768px-Youtube_Music_icon.svg.png?20230802004652" alt="">
                </a>
            </nav>
        </div>
    </div>
</div>