<main>
    <div class="buy_container">
        <div class="img_main_seller_purchase">

            <!--Informações principais do disco-->
            <app-vinly-information></app-vinly-information>
            
            <!--Linha de Separação entre as informações principais disco com a informação do vendedor-->
            <hr id="line">

            <!--Informações do vendedor-->
            <app-seller-purchase></app-seller-purchase>

        </div>

         <!--Outras indormações-->
        <app-other-information></app-other-information>

    </div>
</main>