/*Defini as margens principais.*/
.buy_container{
    margin: 6rem 10rem 0 10rem;
    width: auto;
}

/*Define a estilização da fonte padrão*/
app-vinly-information, app-seller-purchase, app-other-info{
    font-family: var(--fontDefault); 
    color: var(--pureBlack);
    font-size: 1.6rem;
    letter-spacing: 1.5px;
}

/*Alinha horizontalmente os componentes (vinly-information e seller-purchase) e a linha de separação*/
.img_main_seller_purchase{
    display: flex;
}

/*Estilizando a linha de separação*/
#line{
    height: 33rem;
    width: 0.3rem;
    background-color: var(--pureBlack);
}

/*Espaça entre outras informações e carrosel*/
.info_carousel{
    display: flex;
    flex-direction: column;
    gap: 11.3rem;
}