<div class="vinyl_info_container">
    <!--Inseri imagens do vinly-->
    <div class="vinyl_img">
        <img src={{vinyl_info?.imageUrl}} alt="">
        <a href="#">Mais Imagens</a>
    </div>
                
    <!--Informações principais do vinil-->
    <div class="main_info">
        <h1 id="title">{{vinyl_info?.title}}</h1>
        <p id="artist">Artista: {{vinyl_info?.artist}}</p>
        <p id="price">Preço: R$ {{vinyl_info?.price}}</p>
        <p id="format">Formato: {{vinyl_info?.format}}</p>
        <p id="genre">Gênero: {{vinyl_info?.genre}}</p>
        <p id="style">Estilo: {{vinyl_info?.style}}</p>
        <p id="quant_disc">N° de Disco: {{vinyl_info?.quantDisc}}</p>
        <p id="color">Cor: {{vinyl_info?.color}}</p>
        <p id="release">Lançamento: {{vinyl_info?.Release}}</p>
    </div>
</div>