*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root{
    --lightBlack: #1E1E1D;
    --pureBlack: #000;
    --pureWhite: #fff;
    --fontDefault: Trebuchet MS;
}